{% load static %}
<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel=stylesheet type=text/css href="{% static 'minitwit/style.css' %}">
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
  {% if g.user %}
    <a href="{% url 'timeline' %}">my timeline</a> |
    <a href="{% url 'timeline' %}">public timeline</a> |
    <a href="{% url 'logout' %}">sign out</a>
  {% else %}
    <a href="{% url 'timeline' %}">public timeline</a> |
    <a href="{% url 'register' %}">sign up</a> |
    <a href="{% url 'login' %}">sign in</a>
  {% endif %}
  </div>
  {% if messages %}
    <ul class=flashes>
    {% for msg in messages %}
      <li>{{msg.message}}
    {% endfor %}
    </ul>
  {% endif %}
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    MiniTwit &mdash; A Django Application
  </div>
</div>
