{% extends "layout.html" %}
{% load custom_filters %}
{% block title %}
  {% if public %}
    Public Timeline
  {% elif profile_user %}
    {{ profile_user.username }}'s Timeline
  {% else %}
    My Timeline
  {% endif %}
{% endblock %}
{% block body %}
  {% if user %}
    {% if not public %}
      <div class=followstatus>
      {% if not profile_user %}
        This is you!
      {% elif followed %}
        You are currently following this user.
        <a class=unfollow href="/unfollow/{{profile_user.username}}/">Unfollow user</a>.
      {% else %}
        You are not yet following this user.
        <a class=follow href="/follow/{{profile_user.username}}/">Follow user</a>.
      {% endif %}
      </div>
    {% endif %}
    {% if public or not profile_user %}
      <div class=twitbox>
        <h3>What's on your mind {{ user.username }}?</h3>
        <form action="/add_message/" method=post>
        {% csrf_token %}
          <p><input type=text name=text size=60><input type=submit value="Share">
        </form>
      </div>
    {% endif %}
  {% endif %}
  {% if posts %}
    <ul class=messages>
    {% for post in posts %}
      <li>{{ post.author_id|gravatar }}<p>
        <strong><a href="/timeline/{{post.author.username}}">{{ post.author.username }}</a></strong>
        {{ post.text }}
        <small>&mdash;{{ post.pub_date }}</small>
    {% endfor %}
  {% else %}
    <li><em>There's no messages so far.</em>
  {% endif %}
  </ul>
{% endblock %}
